html {
  font-size: 62.5%;
}

body {
  font-family: Nunito, Helvetica Neue, Helvetica, sans-serif;
  font-size: 20px;
  background: #d9c2ac;
  color: #454141;
  padding: 1rem;
  letter-spacing: 1px;
}

.errorMsg {
  color: #f21e08;
  padding: 0.5rem;
  padding-left: 0;
  max-width: 400px;
}

.successMsg {
  color: #00ff00;
  background: #077707;
  padding: 0.5rem;
}
h1 {
  font-size: 4rem;
  margin: 2rem 0 2rem 0;
}

.btn {
  margin: 1rem 0;
}

.active {
  font-weight: bold;
  box-shadow: 0 0 5px #000;
}

.error-msg {
  color: #f21e08;
  background: #fff0f0;
  padding: 1rem;
  font-size: 1.2rem;
}

.success-msg {
  color: #00ff00;
  background: #077707;
  padding: 1rem;
  font-size: 1.2rem;
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  display: unset;
  font-size: 1.6rem;
}

.btn {
  font-size: 1.6rem;
}

.profile-form {
  margin-top: 10rem;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}
